.color{
    color: orange;
}
body{
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
    font-size:20px ;
}
h1{
    font-size:50px ;
}
.sec{
    display: flex;
    margin-bottom:50px;
    margin-left: 40px;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.container{
    margin-top: 120px;
}
.button-link{
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 40px;
    background-image: linear-gradient(orange,tomato);
}
.top-img{
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
}   
.text{
    text-align: center;
}
.img-width{
    width: 300px;
}
.width2{
    width: 100%;
    display:flex;
    margin-left: 70px;
    margin-bottom: 100px;
}
.padding1{
    width: 22%;
    padding: 15px;
    padding-right: 15px;
    border:5px solid white;
    border-radius: 30px;
    margin: 20px;
    box-shadow:5px 5px 50px rgba(117, 113, 113, 0.719) ;
}
.box{
    box-shadow:5px 5px 50px rgba(117, 113, 113, 0.719) ;
    text-align: center;
    border-radius: 30px;
    width: 83%;
    padding: 30px;
}
.padding2{
    width: 22%;
    text-align: center;
    border-left: 1px;
    padding-right: 200px;
}
footer{
    text-align: center;
    background-color: cadetblue;
    width: 100%;
    padding: 40px;
}